@use "sass:color";

$font-family: "Sintony", sans-serif;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$negro-claro: #141414;
$blanco-fondo: #e9eff1;
$bg: color.scale($blanco-fondo, $lightness: 70%);
$color-enmarcar: color.scale($bg, $blackness: 2%);
$color-border: color.scale($color-enmarcar, $blackness: 5%);
$fondoContraste: #777;
$fontContraste: white;

$centrar: auto;

$mqMinWidth: 420px;
